.account-list{
    margin-top: 30px;

    table{
        margin-top: 20px;
        clear: both;

        td + td{
            text-align: center;
        }

        .glyphicon-pencil{
            margin-right: 20px;
        }
    }

    .btn-danger{
        margin-bottom: 15px;
    }


}
