.main-menu {
    li{
        &.active, &:hover {
            cursor: pointer;
        }
    }
    li2 {
        display: inline-block;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px 5px 0 0;

        &.active, &:hover {
            background: #ccc;
            cursor: pointer;
        }

    }
}
